body {
	 background-color: black; 
	 

}

a{
color: blue;

}


     p {

   font-family:helvetica;

      font-size: 50px;

      font-weight: bold;
      color: #000000;
      text-align: left;
      padding:20px 50px 20px 50px;

}
